@charset "utf-8";

*{
  box-sizing : border-box;
}

body{
  margin: 0px;
  padding: 20px;
  background-color: #1B52A2;
}

.head{
  height: 150px;
  margin: 0 auto;
  display: block;
  text-align: center;
  line-height: 130px;
  align-items: center;
  color: white;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 40px;
}

.menu ul{
  list-style: none;
  background-color: #D8E7EF;
  text-align : center;
  padding: 0;
  margin: 0;
}

.menu li{
  display: inline-block;
}

.menu a{
  text-decoration: none;
  color:#1B52A2;
  width:170px;
  display: block;
  padding: 15px;
  font-size: 25px;
  font-family: 'Do Hyeon', sans-serif;
}

.menu a:hover{
  background: #E3F3CB;
  transition:0.4s; 
}
