@charset "utf-8";

*{
  box-sizing : border-box;
}
/*전체배경*/
body{
  margin: 0px;
  padding: 20px;
  background-color: #1B52A2;
}
/*큰제목*/
.head{
  height: 130px;
  margin: 0 0 50 0;
  display: block;
  text-align: center;
  line-height: 130px;
  align-items: center;
  color: white;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 40px;
}

.site{
  color: white;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 25px;
}
/*상단메뉴바*/
.menu ul{
  list-style: none;
  background-color: #D8E7EF;
  text-align : center;
  padding: 0;
  margin: 0;
}

.menu li{
  display: inline-block;
}

.menu a{
  text-decoration: none;
  color:#1B52A2;
  width:500px;
  display: block;
  padding: 10px;
  font-size: 25px;
  font-family: 'Do Hyeon', sans-serif;
}

.menu a:hover{
  background: #E3F3CB;
  font-weight:bold;
}
/*뉴스*/
.title{
  color: #F5E7C9;
  display: block;
  text-align: center;
  align-items: center;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 23px;
  height: 130px;
  line-height: 170px;
}
.box img{
  width: 500px;
  height: 400px;
  position: flex; 
  margin: 0 25px 0 25px;
  display: block;
  top: 600px;
  border: 10px solid #F5E7C9;
}

/*전공소개페이지*/
.page1head_img img{
  text-align: center;
  width: 250px;
  height: 250px;
  border: 10px solid #D8E7EF;
  float: left;
  margin: 0 20 0 0;
}
.page1_body{
  width: 1500px;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 25px;
  color: white;
  float: left;
  margin: 0 20 20 80;
  vertical-align: middle;
}
.page1_body2{
  clear: both;
  width: 1500px;
  height: 500px;
  margin: 0 20 0 80;
  background-color: #D8E7EF;
}

/*진로방향페이지*/
.list th{
  font-family: 'Do Hyeon', sans-serif;
  font-size: 30px;
  color: white;
}
.page3head_img img{
  width: 380px;
  height: 200px;
  margin: 10 18 18 15; 
}
.list table{
  margin: 10 18 18 18;
  width: 380px;
  float:left;
}
.list img{
  width: 300px;
  height: 120px;
  margin: 20 20 20 30;
}
