@charset "utf-8";

*{
  box-sizing : border-box;
}
/*전체배경*/
body{
  margin: 0px;
  padding: 20px;
  background-color: #1B52A2;
}
/*큰제목*/
.head{
  height: 130px;
  margin: 0 0 50 0;
  display: block;
  text-align: center;
  line-height: 130px;
  align-items: center;
  color: white;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 40px;
}

.site{
  color: white;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 25px;
}
/*상단메뉴바*/
.menu ul{
  list-style: none;
  background-color: #D8E7EF;
  text-align : center;
  padding: 0;
  margin: 0;
}

.menu li{
  display: inline-block;
}

.menu a{
  text-decoration: none;
  color:#1B52A2;
  width:500px;
  display: block;
  padding: 10px;
  font-size: 25px;
  font-family: 'Do Hyeon', sans-serif;
}

.menu a:hover{
  background: #E3F3CB;
  font-weight:bold;
}
/*뉴스*/
.title{
  color: #F5E7C9;
  display: block;
  text-align: center;
  align-items: center;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 23px;
  height: 130px;
  line-height: 170px;
}
.news_slide_left img{
  float: left;
  width: 50;
  height: 50;
  display: flex;
  vertical-align:middle;
  align-items: center;
  margin: 350 10 0 100;
}
.news_slide_right img{
  float: left;
  width: 50;
  height: 50;
  display: flex;
  align-items: center;
  margin: 350 100 0 10;
}
.news_image img{
  float: left;
  width: 1300;
  height: 700;
  display: flex;
  text-align: center;
  align-items: center;
  margin: 10 10 100 10;
}
.box img{
  width: 500px;
  height: 400px;
  position: flex; 
  margin: 0 25px 0 25px;
  display: block;
  top: 600px;
  border: 10px solid #F5E7C9;
}

/*전공소개페이지*/
.page1head_img img{
  text-align: center;
  width: 250px;
  height: 250px;
  border: 10px solid #D8E7EF;
  float: left;
  margin: 0 20 0 0;
}
.page1_body{
  width: 1500px;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 25px;
  color: white;
  float: left;
  margin: 0 20 20 75;
  vertical-align: middle;
}
.page1_video_title{
  clear:left;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 20px;
  color: white;
  margin: 0 0 0 75;
}
.page1_body2_title{
  font-family: 'Do Hyeon', sans-serif;
  font-size: 20px;
  color: white;
  margin: 0 0 0 75;
}
.page1_body2{
  clear: both;
  width: 1500px;
  height: 2100px;
  margin: 0 20 20 75;
  background-color: #D8E7EF;
  position:absolute;
}
.page1_body2_lectureintro{
  position: absolute;
  top: 1180;
  left: 140;
  color: #1B52A2;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 17px;
}
.page1_body2_lecture{
  position: relative;
  top: 120;
  text-align: center;
}
.page1_body2_lecturelist{
  position: absolute;
  top: 1480;
  left: 140;
  color: #1B52A2;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 17px;
}
.page1_body2_lecture_choice{
  position: absolute;
  top: 1580;
  left: 140;
  right: 140;
  color: #1B52A2;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 10px;
}
/*전공기초페이지*/
.page2_bike img{
  width: 250px;
  height: 250px;
  border: 10px solid #D8E7EF;
  float: left;
  margin: 0 20 20 75;
}
.mix{
  clear:both;
  margin: 0 0 0 75;
  font-size:25px;
}
/*진로방향페이지*/
.tree img{
  display: block;
  margin: 0 auto;
  width: 1500;
}
